body {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

a {
	text-decoration: none;
  color: black;
}

header ul {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content:center;
  padding: 0;
}

header li {
  font-size: 0.7em;
  font-weight: 600;
  border-radius: 25px;
  background-color:rgba(255, 255, 255, 0.8);
  padding: 0.7em;
  margin: 2px;
}

header li:hover {
  box-shadow: 10px 10px 5px rgba(32, 32, 32, 0.3);
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition:0.5s ease-out;
}

#map {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#logo {
  opacity: 1;
  background-color: rgb(255, 255, 255);
  transition: opacity 2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
}

/* #txtLogo {
  padding-top: 100px;
  padding-left: 25px;
} */

#txtLogo h2 {
  font-size: 0.8em;
  font-weight: 800;
  line-height: 0.7;
  color:black;
}

#logo.cache {
  opacity: 0;
}

#logo img {
  width: 50%;
}

footer {
  position: fixed;
  bottom: 1em;
  right: 5%;
  padding-right: 5px;
  padding-left: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.8);
}

footer #nombre {
  font-size: 0.6em;
}
footer #representation {
  width: 8vw;
  height: 1vh;

  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 1px solid black;

  margin-left: 20px;
}

/* media queries */
@media screen and (min-width: 620px){
  header ul {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  header li {
    margin-left: 10px;
  }
}
@media screen and (min-width: 800px){
  #txtLogo h2 {
      font-size: 1em;
    }
  
    /* #txtLogo {
      padding-top: 200px;
      padding-left: 100px;
    } */
} 