body {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

a {
	text-decoration: none;
  color: black;
}

/* Navigation */
header ul {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content:center;
  padding: 0;
}

header li {
  font-size: 0.7em;
  font-weight: 600;
  border-radius: 25px;
  background-color:rgba(255, 255, 255, 0.9);
  padding: 0.7em;
  margin: 2px;
}

header li:hover {
  box-shadow: 10px 10px 5px rgba(32, 32, 32, 0.3);
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition:0.5s ease-out;
}

/* Body */
#map {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter:contrast(110%) brightness(120%);
}

/* Overlay */

#logo {
  opacity: 1;
  background-color: rgb(255, 255, 255);
  transition: opacity 2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
}

/* #txtLogo {
  padding-top: 100px;
  padding-left: 25px;
} */

#txtLogo h2 {
  font-size: 0.8em;
  font-weight: 800;
  line-height: 0.7;
  color:rgb(0, 0, 0);
}

#logo.cache {
  opacity: 0;
}

#logo img {
  width: 50%;
}

#goFullScreen {
  display: block;
}

#goFullScreen:hover {
  color: rgb(143, 0, 0);
  font-size: 1.5em;
  transform: scale(1.2);
	-webkit-transition: 0.7s ease-out;
	-moz-transition: 0.7s ease-out;
	-o-transition: 0.7s ease-out;
	transition: 0.7s ease-out;
  box-shadow: 10px 10px 5px rgba(32, 32, 32, 0.3);
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition:0.5s ease-out;
}

#exitFullScreen{
  display: none;
}

#exitFullScreen:hover {
  color: rgb(143, 0, 0);
  font-size: 1.5em;
  transform: scale(1.2);
	-webkit-transition: 0.7s ease-out;
	-moz-transition: 0.7s ease-out;
	-o-transition: 0.7s ease-out;
	transition: 0.7s ease-out;
  box-shadow: 10px 10px 5px rgba(32, 32, 32, 0.3);
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition:0.5s ease-out;
}

/* Map Footer */
footer{
  position: fixed;
  width: 100vw;
  bottom: 1em;
  right: 5%;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#infos{
  padding-right: 20px;
}

#fullScreen{
  padding-right: 20px;
}

.fa-solid {
  padding: 10px;
  color: rgb(255, 255, 255, 0.9);
  font-size: 1.5em;
  padding: 5px;
}

footer #nombre {
  font-size: 0.6em;
}

footer #echelle {
  border-radius: 2px;
  background-color: rgba(255, 255, 255,0.9);
}

footer #representation {
  width: 8vw;
  height: 1vh;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
  margin-left: 20px;
}

/*Page infos */
body .container{
  z-index: -1;
  width:100vw;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("./CarteC-extrait.jpg") center center;
  background-size: cover;
  position: absolute;
}

#projet {
  width: 90vw;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#titre {
  display: flex;
  justify-content: left;
  margin: 50px;
}

.description {
 margin: 50px
}

.description span{
  font-style:italic;
}

.description a{
  color:rgb(143, 0, 0, 0.6);
}

.description a:hover{
  color:rgb(143, 0, 0);
  -webkit-transition: 0.7s ease-out;
	-moz-transition: 0.7s ease-out;
	-o-transition: 0.7s ease-out;
	transition: 0.7s ease-out;
}

#projet p{
  font-size: 1em;
  line-height: 1.5;
}

#contact {
  margin: 50px;
  text-align: center;
}

#contact a{
  color:rgb(143, 0, 0, 0.6);
}

#contact a:hover{
  color:rgb(143, 0, 0);
  -webkit-transition: 0.7s ease-out;
	-moz-transition: 0.7s ease-out;
	-o-transition: 0.7s ease-out;
	transition: 0.7s ease-out;
}

#containerLogo{
  display: flex;
  /* padding: 50px; */
  align-content: center;
  flex-direction: column;
  align-items: center;
}

#subventions {
  margin-left: auto;
  margin-right: auto;
}

#subventions img{
  padding: 10px;
  width: 200px
}

img {}

#subventions p{
  font-size: 0.8em;
  text-align: center;
}

/* media queries */
@media screen and (min-width: 620px){
  header ul {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  header li {
    margin-left: 10px;
  }

  #containerLogo{
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #subventions img{
    padding: 30px;
  }
}

@media screen and (min-width: 1200px){
  #txtLogo h2 {
      font-size: 1em;
    }

    #projet {
      width: 50vw;
      margin-top: 100px;
    }
  
    #projet p{
      font-size: 1.2em;
      line-height: 1.5;
    }

    #subventions p{
      font-size: 1em;
      line-height: 1.5;
    }

} 

@media screen and (max-width: 290px){
  p {
    font-size: 0.8em;
  }

  #titre, .description, #subvention, #contact {
    margin: 15px;
  }
}